<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('build/images/aristote.png') }}">
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    </head>
    <body>
        <div id="body-wrapper">
            <div id="main" class="{% if hideFooter is defined %}no-footer{% endif %}">
                {% include 'menu.html.twig' %}
                {% block body %}{% endblock %}
            </div>
        </div>
        {% if showFooter is defined and showFooter %}
            {% include 'footer.html.twig' %}
        {% endif %}
    </body>
</html>
